# Databricks Asset Bundle files
.databricks/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.local

# Runtime artifacts written by notebooks/01_Workflow_Orchestration/setup.py
notebooks/01_Workflow_Orchestration/data/catalog_name.json
notebooks/01_Workflow_Orchestration/data/job_info.json
